@{
    ViewData["Title"] = "WebDeploy AppVeyor Generator";
}

<main class="row">
    <section class="col-md-8 col-md-offset-2 text-center description">
        <h1>WebDeploy Generator</h1>
        <p class="lead">
            Take an Azure publishsettings file and paste the xml in here. <br />
            The AppVeyor WebDeploy section will be generated.
        </p>

        <div id="error" style="display:none;" class="text-error">There was an error parsing the xml.</div>

        <form id="entry">
            <fieldset id="fieldset">
                <div class="input-group" style="margin-bottom:10px;" >
                    <span class="input-group-addon" id="basic-addon1">Appveyor Api Token</span>
                    <input class=" form form-control" type="text"  name="apiToken" />
                </div>
                                
                <textarea class="form form-control" name="model"></textarea>
            </fieldset>
            <div class="actions">
                <button class="btn btn-primary" type="submit">Generate</button>
            </div>
        </form>

        <div id="result" style="display: none;">
            <p id="yml" class="text-left"></p>
            <p>Note: The username and password needs to be secure. For information on how to do that <a href="https://www.appveyor.com/docs/build-configuration/#secure-variables">click here</a>.</p>
            <div class="actions">
                <a class="btn btn-primary" href="#" id="done">Done</a>
            </div>
        </div>

        <p>
            For example xml
            <a href="https://raw.githubusercontent.com/Cyberkruz/publishprofile-webdeploy/master/testpublishsettings.xml">click here</a>.<br />
            To see the article this was based on 
            <a href="https://www.mattkruskamp.com/blog/2017/build-quick-net-core-api-and-site-on-mac-with-command-line/">click here</a>.
        </p>
    </section>
</main>
